Practik2_3/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ClusterizationService" />
  <xs:element name="DoClusters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="client" type="q1:guid" />
        <xs:element minOccurs="0" name="pClusterNum" type="xs:int" />
        <xs:element minOccurs="0" name="accuracy" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoClustersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientNum" type="q2:guid" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClusterizationService" minOccurs="0" name="GetInstResult" nillable="true" type="q3:DataInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientNum" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClusterizationService" minOccurs="0" name="d" nillable="true" type="q5:DataInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendInstResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataCount" type="xs:int" />
        <xs:element minOccurs="0" name="atrCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RegisterClientResult" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isFinished">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isFinishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isFinishedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>