Practik2_3/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="kMeans" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ClusterizationService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IkMeans_DoClusters_InputMessage">
    <wsdl:part name="parameters" element="tns:DoClusters" />
  </wsdl:message>
  <wsdl:message name="IkMeans_DoClusters_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoClustersResponse" />
  </wsdl:message>
  <wsdl:message name="IkMeans_GetInst_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInst" />
  </wsdl:message>
  <wsdl:message name="IkMeans_GetInst_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstResponse" />
  </wsdl:message>
  <wsdl:message name="IkMeans_SendInst_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInst" />
  </wsdl:message>
  <wsdl:message name="IkMeans_SendInst_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendInstResponse" />
  </wsdl:message>
  <wsdl:message name="IkMeans_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IkMeans_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IkMeans_isFinished_InputMessage">
    <wsdl:part name="parameters" element="tns:isFinished" />
  </wsdl:message>
  <wsdl:message name="IkMeans_isFinished_OutputMessage">
    <wsdl:part name="parameters" element="tns:isFinishedResponse" />
  </wsdl:message>
  <wsdl:portType name="IkMeans">
    <wsdl:operation name="DoClusters">
      <wsdl:input wsaw:Action="http://tempuri.org/IkMeans/DoClusters" message="tns:IkMeans_DoClusters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IkMeans/DoClustersResponse" message="tns:IkMeans_DoClusters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInst">
      <wsdl:input wsaw:Action="http://tempuri.org/IkMeans/GetInst" message="tns:IkMeans_GetInst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IkMeans/GetInstResponse" message="tns:IkMeans_GetInst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInst">
      <wsdl:input wsaw:Action="http://tempuri.org/IkMeans/SendInst" message="tns:IkMeans_SendInst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IkMeans/SendInstResponse" message="tns:IkMeans_SendInst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IkMeans/RegisterClient" message="tns:IkMeans_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IkMeans/RegisterClientResponse" message="tns:IkMeans_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isFinished">
      <wsdl:input wsaw:Action="http://tempuri.org/IkMeans/isFinished" message="tns:IkMeans_isFinished_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IkMeans/isFinishedResponse" message="tns:IkMeans_isFinished_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IkMeans" type="tns:IkMeans">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoClusters">
      <soap:operation soapAction="http://tempuri.org/IkMeans/DoClusters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInst">
      <soap:operation soapAction="http://tempuri.org/IkMeans/GetInst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInst">
      <soap:operation soapAction="http://tempuri.org/IkMeans/SendInst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <soap:operation soapAction="http://tempuri.org/IkMeans/RegisterClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isFinished">
      <soap:operation soapAction="http://tempuri.org/IkMeans/isFinished" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="kMeans">
    <wsdl:port name="BasicHttpBinding_IkMeans" binding="tns:BasicHttpBinding_IkMeans">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ClusterizationService/kMeans/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>