ConsoleClient/Service References/ServiceReference1/ClusterizationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClusterizationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClusterizationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDataInstance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataInstance" nillable="true" type="tns:DataInstance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataInstance" nillable="true" type="tns:ArrayOfDataInstance" />
  <xs:complexType name="DataInstance">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attributes" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element minOccurs="0" name="cluster" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataInstance" nillable="true" type="tns:DataInstance" />
</xs:schema>